:root {
	--main-color: #212121;
	--additional-color: #2196F3;
	--muted-color: #757575;
	--accent-white-color: #FFFFFF;
	--team-filter-color: #F5F4FA;
	--order--footer-background-color: #2F303A;
	--order-button-active: #188CE8;
	--card-border: #EEEEEE;
	--header-border: #ECECEC;

}

body {
	font-family: 'Roboto', sans-serif;
	color: #212121;
	margin: 0;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, li {
	margin: 0;
	padding: 0;
}


.section {
	padding: 94px 0;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.item-blue {
	color: var(--additional-color);
}


/* top */
.top {
	border-bottom: 1px solid var(--header-border);
	
}
.top-flex {
	display: flex;
	align-items: center;
}
.top-logo-link {
	 color: var(--main-color); /* Можна використати inherit */
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
	padding: 24px 0 25px 0;
}
.top-nav {
	margin-left: 93px;
	margin-right: auto;
}
.top-nav-links {
	display: flex;
}
.nav-item:not(:last-child) {
	margin-right: 50px;
}
.nav-link {
	color: var(--main-color); /* Можна використати inherit */
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	padding: 32px 0;
}
.nav-link.is-active {
	color: var(--additional-color);
}
.nav-link:focus,
.nav-link:hover {
	color: var(--additional-color);
}
.top-contact-links {
	display: flex;
}
.contact-item:not(:last-child) {
	margin-right: 50px;
}
.top-contact {
	color: var(--muted-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	padding: 32px 0;
}
.top-contact:focus,
.top-contact:hover {
	color: var(--additional-color);
}
/* end */


/* index */
/* index main - order */
.order {
	background-color: var(--order--footer-background-color);
	text-align: center;
	padding: 200px 0;
}
.order-title {
	max-width: 696px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--accent-white-color);
	margin: 0 auto 30px;
}
.order-button {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--accent-white-color);
	background-color: var(--additional-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px 32px;
}
.order-button:active {
	background-color: var(--order-button-active);
}

/* index main - advantages */
.advantages-list {
	display: flex;
}
.advantages-list-item {
	max-width: 270px;
}
.advantages-list-item:not(:last-child) {
	margin-right: 30px;
}
.advantage-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.advantage-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--muted-color);
}

/* index main - working */
.working.section {
	padding: 0 0 94px 0;
}
.working-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
.working-images-list {
	display: flex;
}
.working-images-list-item:not(:last-child) {
	margin-right: 30px;
}

/* index main - team */
.team {
	background-color: var(--team-filter-color);
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
.team-list {
	display: flex;
}
.team-card {
	background: var(--accent-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team-card:not(:last-child) {
	margin-right: 30px;
}
.team-image{
	display: block;
	margin-bottom: 30px;
}
.team-person-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}
.team-person-position {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--muted-color);
	margin-bottom: 30px;
}
/* end */


/* portfolio */
/* portfolio main - filter */
.hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.portfolio-filter {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-bottom: 50px;
}
.filter-button {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	background: var(--team-filter-color);
	border: none;
	border-radius: 4px;
	padding: 6px 22px;
	cursor: pointer;
}
.filter-button:focus,
.filter-button:hover {
	color: var(--accent-white-color);
	background: var(--additional-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
				0px 1px 2px rgba(0, 0, 0, 0.08),
				0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio main - cards */

/* Variant 1 */
/* .portfolio-cards {
	display: grid;
	grid-template-columns: repeat(3, 370px);
	gap: 30px;
} */

/* Variant 2 */
.portfolio-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

/* Variant 3 start*/
/* .portfolio-cards {
	display: flex;
	flex-wrap: wrap;
}
.card {
	margin: 0 30px 30px 0;
}
.card:nth-child(3n) {
	margin-right: 0;
}
.card:nth-last-child(-n + 3) {
	margin-bottom: 0;
} */
/* Variant 3 end */

.card-link {
	text-decoration: none;
}
.card-image {
	display: block;
}
.context {
	padding: 20px 24px;
	border-color: var(--card-border);
	border-style: solid;
	border-width: 0 1px 1px 1px;
}
.card-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
	color: var(--main-color);
}
.card-text-muted {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--muted-color);
}
/* end */


/* footer */
.bottom {
	background-color: var(--order--footer-background-color);
	padding: 60px 0;
}
.bottom-logo-link {
	display: inline-block;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--accent-white-color);
	margin-bottom: 20px;
}
.contact:not(:last-child) {
	margin-bottom: 9px;
}
.bottom-contact-map {
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--accent-white-color);
}
.bottom-contact {
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}
.bottom-contact:focus,
.bottom-contact:hover,
.bottom-contact-map:focus,
.bottom-contact-map:hover {
	color: var(--additional-color);
}
/* end */	